development:
  secret_key_base: 342b55c13f4bd6e3dbc9272e6cc450a821bcd484e10d31e8ddbf1c2790c09c8956e6b0c95a1c6cc696743ce7ee3e06732fbaeddf3a636523255ba9a566662d12
  omniauth:
    facebook_id: "FACEBOOK_ID"
    facebook_secret: "FACEBOOK_SECRET"
    google_id: "GOOGLE_ID"
    google_secret: "GOOGLE_SECRET"

test:
  secret_key_base: 76c0744ad1dd5ca6eb7062ce0926ec9fb5092f7577db1c4a3c0b600570c61f6e8dc89e86eb5c9ff1331b010926356fef6abe6534771a95866dadefd5c3a2a2ad
  omniauth:
    facebook_id: "FACEBOOK_ID"
    facebook_secret: "FACEBOOK_SECRET"
    google_id: "GOOGLE_ID"
    google_secret: "GOOGLE_SECRET"

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  omniauth:
    facebook_id: <%= ENV["FACEBOOK_ID"] %>
    facebook_secret: <%= ENV["FACEBOOK_SECRET"] %>
    google_id: <%= ENV["GOOGLE_ID"] %>
    google_secret: <%= ENV["GOOGLE_SECRET"] %>
