development:
  secret_key_base: "SECRET_KEY_BASE"
  omniauth:
    facebook_id: "FACEBOOK_ID"
    facebook_secret: "FACEBOOK_SECRET"
    google_id: "GOOGLE_ID"
    google_secret: "GOOGLE_SECRET"
  neo4j:
    url: "NEO4J_URL"
    username: "NEO4J_USERNAME"
    password: "NEO4J_PASSWORD"

test:
  secret_key_base: "SECRET_KEY_BASE"
  omniauth:
    facebook_id: "FACEBOOK_ID"
    facebook_secret: "FACEBOOK_SECRET"
    google_id: "GOOGLE_ID"
    google_secret: "GOOGLE_SECRET"
  neo4j:
    url: "NEO4J_URL"
    username: "NEO4J_USERNAME"
    password: "NEO4J_PASSWORD"

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  omniauth:
    facebook_id: <%= ENV["FACEBOOK_ID"] %>
    facebook_secret: <%= ENV["FACEBOOK_SECRET"] %>
    google_id: <%= ENV["GOOGLE_ID"] %>
    google_secret: <%= ENV["GOOGLE_SECRET"] %>
  neo4j:
    url: <%= ENV["NEO4J_URL"] %>
    username: <%= ENV["NEO4J_USERNAME"] %>
    password: <%= ENV["NEO4J_PASSWORD"] %>
