@import 'settings'

.header
  height: 200px
  position: relative

  .h1, .h3
    z-index: 2
    position: relative
    color: $white

  .h1
    font-size: rem-calc(72px)
    padding-top: 20px
    font-family: $font-family-display
    margin: 0

  .h3
    font-weight: $font-weight-normal

  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(#000, 0.4)

.header--beer
  background-image: asset-url('beer-on-barrel.png')
  background-position: center center
  background-size: cover

